#grid-icons {
    
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#grid-box {
    padding-bottom: 10px;
}
  #grid-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    display: block;     
  }

   .img-container {
    position: relative;
    width: 100%;
    padding-top: 100%; /* keeps it square */
    overflow: hidden;
  }

    .img-container img {
    position: absolute;
    top: 0;
    left: 0;
    
  }

  .link
{
   color:black;
   text-decoration: none; 
   background-color: none;
}

#text-header {
    font-size: 20px;
    font-weight: 400;
}

.card-likes {
    font-weight: 700;
}

.link:hover {
    color:rgb(69, 66, 61)
}